PATH_MAX_AMXD_DEV="/Users/user.name/Music/Ableton/User Library/Max Stuff"
FILES_MAX_AMXD_DEV="ReBridge.amxd"

PATH_MAX_AMXD_PROD="/Users/user.name/Music/Ableton/User Library/Max MIDI Effect"
FILES_MAX_AMXD_PROD="ReBridge.amxd"

PATH_MAX_AMXD_ARCHIVE="/Users/user.name/Music/Ableton/User Library/Max Archive"
FILES_MAX_AMXD_ARCHIVE="ReBridge*.amxd"

PATH_MAX_PATCHERS="/Users/user.name/Music/Ableton/User Library/Max Stuff/Projects/Max for Live Devices/Rebridge Project/patchers"
FILES_MAX_PATCHERS="*.maxpat"

PATH_REASON_REMOTE_CODECS="/Users/user.name/Library/Application Support/Propellerhead Software/Remote/Codecs/Lua Codecs/Zapperment"
FILES_REASON_REMOTE_CODECS="ReBridge.{lua,luacodec,png}"

PATH_REASON_REMOTE_MAPS="/Users/user.name/Library/Application Support/Propellerhead Software/Remote/Maps/Zapperment"
FILES_REASON_REMOTE_MAPS="ReBridge.remotemap"